main:not(.page-home, .page-search, .page-search-results) {
    overflow-x: hidden;
}

.page-buildings {

    .title-display {
        margin-bottom: 45px;
    }





}


.separation {
    margin-bottom: 115px;

    @include breakpoint(small only) {
        margin-bottom: 50px;
    }
}
